body {
  background: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}
.logo { width: 100px; }
.billete { width: 100%; max-width: 300px; margin-top: 20px; }
input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
button { background: gold; border: none; cursor: pointer; }
